.place__content {
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .place__content {
        padding: 0;
        width: calc(100% - 368px);
    }
}


@media screen and (min-width: 991px) {
    .place__content {
        width: calc(100% - 472px);
    }
}

@media screen and (min-width: 1280px) {
    .place__content {
        width: calc(100% - 500px);
    }
}