.lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        max-width: 640px;
        margin: 0 auto 56px;
    }
}

@media screen and (min-width: 991px) {
    .lead__subtitle {
        max-width: 640px;
        margin: 32px auto 56px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        margin-bottom: 64px;
    }
}