.cover {
    position: relative;
    margin: 64px auto;
    padding: 33px 16px;
    text-align: center;
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    color: #fff;
    text-decoration: none;
    max-width: 1184px;
    display: table;
}

@media screen and (min-width: 768px) {
    .cover {
        padding: 115px 104px;
        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 991px) {
    .cover {
        margin-top: 92px;
        margin-bottom: 92px;
        padding: 195px 232px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        padding: 245px 312px;
    }
}